.hovered_images{
    position:relative;
    display: block;
    width: 200px;
  }
  .hovered_images img{
    display:none;
    max-width: 100%;
  }
  .hovered_images img:first-child{
    display:block;
  }
  .hovered_images:hover img:first-child{
    display:none;
  }
  .hovered_images:hover img:last-child{
    display:block;
  }
  
  